.container {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3 {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.flex-blackjack-row-1, .flex-blackjack-row-2 {
    background: url("https://media.istockphoto.com/photos/green-poker-table-background-picture-id643199720?k=6&m=643199720&s=170667a&w=0&h=a6gzxiCk7LHz-l1oDNsXfCcUQXkuIfdw9AV4KFroYqg=") center;
    color: #fff;
}

.flex-blackjack-row-1 div {
    padding: 10px;
    flex: 1;
    text-align: center;
    height: 350px;
}

.flex-blackjack-row-1 img {
    height: 25%;
    padding: 10px;
}

.flex-blackjack-row-2 button, div {
    padding: 10px;
}

table, th, td {
    padding: 5px;
    border: 1px solid black;
}
